:root{
    /* --nombreVariable: valor; */
    
    /* font-family: 'Jost', sans-serif; */

    /* colores */
    --blanco: #FFFFFF;
    --transparencia: #E6E6E6;
    --negro: #070201;
    --grisClaro: #545354;
    --grisMedio: #343434;
    --grisFuerte: #2d2d2e;

}

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    color: var(--blanco);
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body{
    background-image: url(../img/instalacionesFondos/klara-kulikova-CPMZguYURMw-unsplash_NOSOTROS.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 90px;
    min-height: 100vh;
}

header{
    width: 100%;
    height: 10vh;
}

/* footer */ 
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(196, 196, 196, 0.4);
}

.logo{
    width: 140px;
    margin-left: 20px;
}

.bar-btn{
    font-size: 25px;
    color: var(--blanco);
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{ /* TRRABAJAMOS EL CONTENEDOR DE ENLACES */
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(120, 120, 120, 0.9);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{ /* TRABAJAMOS SOBRE LOS LI DE LOS ENLACES */
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{ /*  TRABAJAMOS SOBRE CADA ENLACE */
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: var(--grisClaro);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{ /* CUANDO EL SE HACE EL CLICK SOBRE EL BOTON */
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}

/* estilos footer */
#foot{
    background-color: rgba(196, 196, 196, 0.4);
    position: absolute;
    bottom: 0;
    height: max-content;
    width: 100%;
    display: block;
    padding: 30px;
}

.div_derechos_autor{
    text-align: center;
}

.div_svgs_redes_sociales{
    text-align: center;
}


 /* Main/Contenido .div_historia .titulo_historia .parrafo_historia*/

 main{
    display: flex;
    height: 78vh;
    margin-top: 20px;
    margin-bottom: 200px;
 }

 .div_historia{
    color: var(--blanco);
    background-color: rgba(196, 196, 196, 0.4);
    max-width: 70%;
    max-height: max-content;
    padding: 80px;
    border: 1px solid var(--blanco);
    margin: auto;
}

.div_historia p{
    font-size: 14px;
    text-align: center;
}
    
.titulo_historia{
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
}

@media screen and (min-width:960px){
    .titulo_historia{
        font-size: 48px;
    }
    .div_historia p{
        font-size: 30px;
    }
}

@media screen and (min-width: 470px){
    main{
        margin-bottom: 450px;
    }  
    .titulo_historia{
        font-size: 30px;
    }
    .div_historia p{
        font-size: 18px;
    }
}

@media screen and (min-width: 778px){
    .logo{
        margin-left: 30px;
    }
    .titulo_historia{
        font-size: 35px;
    }
    .div_historia p{
        font-size: 22px;
    }

    nav{
        height: 100px;
    }
    .bar-btn{ /* desaparece la barrita cuando se agranda */
        display: none;
    }
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0%;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 40px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a{
        font-size: 16px;
    }

    #foot{
        display: flex;
        padding: 30px;
        justify-content: space-between;
    }
    main{
        margin-bottom: 0;
    }

}

/* funciona */

@media screen and (max-width: 467px){
    .div_historia{
        padding: 30px;
    }

    .titulo_historia{
        font-size: 45px;
        margin-bottom: 20px;
    }
    .div_historia p{
        font-size: 18px;
    }
 }


 @media screen and (max-width: 364px){
    .titulo_historia{
        text-transform: capitalize;
    }
   
 }

@media screen and (max-width: 403px){
    main{
        margin-top: 70px;
        margin-bottom: 450px;
    }
    
    .div_historia{
        padding: 30px;
    }

    .titulo_historia{
        font-size: 50px;
        margin-bottom: 20px;
    }
    .div_historia p{
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) and (max-height: 740px){
    .div_historia{
        margin-top: 25px;
    }
}